@font-face {
    font-family: "Comfrey Regular";
    src: local("Comfrey Regular"), url("../assets/fonts/Comfrey-Regular.otf") format("opentype");
}

// colors
$primary: #8A1FEB;
$secondary: #F8F0FF;
$accent: #EB1FC4;