@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

@font-face {
    font-family: "Gondola SD";
    src: local("Gondola SD"), url("../assets/fonts/Gondola-SD/Gondola_SD.ttf") format("truetype");
}

// Colors =====================================================
$primary: #8A1FEB;
$secondary: #F8F0FF;
$accent: #EB1FC4;
$dark: #180529;
$elevation-grey: #333333;

// Fonts ======================================================
$font-display: 'Nunito';
$font-body: 'Titillium Web';
$font-logo: 'Gondola SD';

// Breakpoints ================================================
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

// Bulma form customization ===================================
$label-color: $primary;
$input-color: black;
$input-focus-border-color: $primary;
$input-icon-color: $primary;